.monitor-fields {
  display: flex;
}
.send-fields {
  display: flex;
}
textarea {
  margin-right: 2px;
  height: 200px;
}
.my-width {
  width: 250px;
}

.my-input {
  width: 413px;
  margin-right: 2px;
}

.my-button {
  width: 90px;
}
